/* Zones */
/* Typography */
/* Pure colors */
@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative|Telex|IM+Fell+Great+Primer+SC|Barlow+Semi+Condensed|Simonetta&display=swap");
.row::after {
  content: "";
  display: block;
  clear: both;
}

::selection {
  background-color: #000000;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(to top, #000000, rgba(35, 41, 55, 0.5), #000000);
  transition: 500ms;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to top, #000000, #232937, #000000);
}

::-webkit-scrollbar-corner, ::-webkit-resizer {
  background: none;
  border: none;
}

body {
  margin: 0;
  cursor: default;
  user-select: none;
  background-color: #000000;
  -webkit-user-drag: none;
}

button:focus {
  border: 1px solid #C5C5C5;
}

h1 {
  font-family: "Cinzel Decorative", serif;
}

h2 {
  font-family: "IM Fell Great Primer SC", serif;
}

p, h3, h4, h5, h6 {
  font-family: "Simonetta", serif;
}

/* Music and Help */
.music {
  display: block;
  position: fixed;
  z-index: 999;
  right: 30px;
  top: 30px;
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.7;
}
.music img {
  width: 35px;
}

.introAnimationMusic p {
  font-size: 1.125rem;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  color: rgba(197, 197, 197, 0.8);
  border-radius: 10px;
  border-top-right-radius: 0;
  font-weight: bold;
  padding: 10px;
  right: 65px;
  top: 50px;
  opacity: 0;
  z-index: 9999;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.4);
  animation: introAnimation 4s, introAnimationFade 4s ease-in-out;
  animation-delay: 500ms;
}

.introAnimationHelp p {
  font-size: 1.125rem;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  color: rgba(197, 197, 197, 0.8);
  border-radius: 10px;
  border-top-right-radius: 0;
  font-weight: bold;
  padding: 10px;
  left: 65px;
  bottom: 50px;
  opacity: 0;
  z-index: 9999;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.4);
  animation: introAnimation 4s, introAnimationFade 4s ease-in-out;
  animation-delay: 4500ms;
}

@keyframes introAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  30%, 70% {
    transform: translateY(-2px);
  }
}
@keyframes introAnimationFade {
  0%, 100% {
    opacity: 0;
  }
  20%, 50%, 80% {
    opacity: 1;
  }
}
.music:hover {
  opacity: 1;
}

.infoPopup {
  display: block;
  position: fixed;
  z-index: 999;
  left: 30px;
  bottom: 30px;
}
.infoPopup .help {
  display: block;
  position: absolute;
  z-index: 999;
  left: 0;
  bottom: 0;
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.7;
}
.infoPopup .help img {
  width: 35px;
}
.infoPopup .help:hover {
  opacity: 1;
}
.infoPopup #helpContent {
  padding: 0px 20px;
  top: -441px;
  left: 60px;
  width: 300px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  position: absolute;
  background: #C5C5C5;
  box-shadow: inset -5px -5px 50px rgba(0, 0, 0, 0.7);
  animation: helpContent 200ms ease-out;
  display: none;
}
@keyframes helpContent {
  from {
    top: -208px;
    left: -146px;
    opacity: 0;
    transform: scale(0);
  }
  to {
    top: -441px;
    left: 60px;
    opacity: 1;
    transform: scale(1);
  }
}
.infoPopup #helpContent h2 {
  font-size: 1.75rem;
}
.infoPopup #helpContent p {
  font-size: 1.1875rem;
  line-height: 25px;
}
.infoPopup #helpContent .bold {
  font-weight: bold;
}
.infoPopup #helpContent img {
  width: 29px;
  margin: 0 2px -7px 0px;
}
.infoPopup #helpContent .closeHelp {
  display: block;
  position: absolute;
  bottom: -44px;
  left: -60px;
  border: none;
  background: none;
  opacity: 0.8;
  z-index: 9999;
}
.infoPopup #helpContent .closeHelp img {
  width: 35px;
}
.infoPopup #helpContent .closeHelp:hover {
  opacity: 1;
}

@media only screen and (max-width: 500px) {
  .infoPopup #helpContent {
    top: -466px;
    left: 30px;
    width: 250px;
    animation: none;
  }
  .infoPopup #helpContent .closeHelp {
    left: -30px;
  }

  .music {
    top: 15px;
    right: 15px;
    opacity: 1;
  }

  .help {
    opacity: 1;
  }

  .introAnimationMusic p {
    padding: 10px;
    right: 50px;
    top: 40px;
    font-size: 1rem;
  }

  .introAnimationHelp p {
    padding: 10px;
    left: 65px;
    bottom: 50px;
    font-size: 1rem;
  }
}
.intro {
  background-image: url("../images/background-warm.jpg");
  background-size: 130% 130%;
  cursor: default;
  animation: introBackground 32s infinite;
  user-select: none;
  -webkit-user-drag: none;
}
@keyframes introBackground {
  0%, 1%, 100% {
    background-position: 0% 0%;
    background-size: 100% 100%;
  }
  20% {
    background-position: 0% 50%;
    background-size: 150% 150%;
  }
  40% {
    background-position: 50% 100%;
    background-size: 130% 130%;
  }
  60% {
    background-position: 100% 50%;
    background-size: 120% 120%;
  }
  80% {
    background-position: 100% 100%;
    background-size: 160% 160%;
  }
}
.intro .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  animation: introFade 1800ms ease, darkFilter 8s infinite;
}
@keyframes darkFilter {
  0%, 100% {
    background-color: rgba(0, 0, 0, 0.75);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.85);
  }
}
.intro h1 {
  font-size: 6.875rem;
  margin: 0;
  background-image: -webkit-linear-gradient(#000000, #414141, #e0e0e0, #414141, #000000);
  background-size: 100% 150%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
  animation: title 5000ms infinite, introFade 2300ms ease-in;
  cursor: pointer;
}
@keyframes introFade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes title {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.intro span {
  font-size: 8.125rem;
}
.intro button {
  background: none;
  border: none;
}
.intro p {
  font-size: 1.5rem;
  color: #C5C5C5;
  margin: 5px;
  animation: startGame 3000ms infinite, introFade 2300ms ease-in;
}
@keyframes startGame {
  0%, 100% {
    color: rgba(197, 197, 197, 0.8);
  }
  50% {
    color: #c5c5c5;
  }
}

@media only screen and (max-width: 450px) {
  .intro {
    background-image: url("/images/background-warm.jpg");
    background-size: 220% 100%;
    cursor: default;
    animation: introBackground 32s infinite;
    user-select: none;
    -webkit-user-drag: none;
  }
  @keyframes introBackground {
    0%, 1%, 100% {
      background-position: 0% 0%;
      background-size: 240% 100%;
    }
    20% {
      background-position: 0% 50%;
      background-size: 340% 150%;
    }
    40% {
      background-position: 50% 100%;
      background-size: 270% 130%;
    }
    60% {
      background-position: 100% 50%;
      background-size: 260% 120%;
    }
    80% {
      background-position: 100% 100%;
      background-size: 320% 160%;
    }
  }
  .intro h1 {
    padding: 0 20px;
    font-size: 2.0625rem;
  }
  .intro h1 span {
    font-size: 2.375rem;
  }
  .intro p {
    margin-top: 10px;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 451px) and (max-width: 800px) {
  .intro {
    background-image: url("/images/background-warm.jpg");
    background-size: 100% 100%;
    cursor: default;
    animation: introBackground 32s infinite;
    user-select: none;
    -webkit-user-drag: none;
  }
  @keyframes introBackground {
    0%, 1%, 100% {
      background-position: 0% 0%;
      background-size: 180% 100%;
    }
    20% {
      background-position: 0% 50%;
      background-size: 260% 150%;
    }
    40% {
      background-position: 50% 100%;
      background-size: 240% 130%;
    }
    60% {
      background-position: 100% 50%;
      background-size: 210% 120%;
    }
    80% {
      background-position: 100% 100%;
      background-size: 280% 160%;
    }
  }
  .intro h1 {
    padding: 0 20px;
    font-size: 3.3125rem;
  }
  .intro h1 span {
    font-size: 3.625rem;
  }
  .intro p {
    margin-top: 10px;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 801) and (max-width: 1200px) {
  .intro h1 {
    padding: 0 20px;
    font-size: 3.9375rem;
  }
  .intro h1 span {
    font-size: 4.25rem;
  }
  .intro p {
    margin-top: 10px;
    font-size: 1rem;
  }
}
footer {
  display: block;
  bottom: 0;
  max-width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.9) 30%, rgba(0, 0, 0, 0.95) 50%, rgba(0, 0, 0, 0.9) 80%, rgba(0, 0, 0, 0.7) 100%);
}
footer p {
  color: rgba(197, 197, 197, 0.3);
  padding: 10px;
  margin: 0;
  text-align: center;
  cursor: default;
}

@media only screen and (min-width: 1230px) {
  footer {
    position: fixed;
    display: block;
    bottom: 0;
    right: 0;
    background: none;
  }
  footer p {
    color: rgba(197, 197, 197, 0.3);
    padding-right: 14px;
    cursor: default;
    float: right;
  }
}
#main {
  display: none;
}
#main .overlay {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
  animation: introFilter 2500ms ease-out;
  z-index: 99;
}
@keyframes introFilter {
  from {
    background-color: black;
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}
#main .container {
  width: 1230px;
  margin: 0 auto;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.9) 30%, rgba(0, 0, 0, 0.95) 50%, rgba(0, 0, 0, 0.9) 80%, rgba(0, 0, 0, 0.7) 100%);
}
#main .container h2 {
  margin: 90px 0 60px;
  background-image: -webkit-linear-gradient(#000000, #414141, #e0e0e0, #414141, #000000);
  background-size: 200% 200%;
  background-position: 0% 50%;
  background-clip: text;
  font-family: "Cinzel Decorative", serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.125rem;
  font-weight: normal;
  animation: badges 2s ease-in;
}
@keyframes badges {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#main .container select {
  text-align: center;
  margin: 0 5px 20px;
  padding: 10px;
  background: #000000;
  border: 1px solid rgba(197, 197, 197, 0.2);
  color: #C5C5C5;
  transition: 400ms;
  animation: badges 2s ease-in;
  opacity: 1;
}
#main .container .badge {
  width: unset;
  margin: 10px 0 30px;
  transition: 200ms;
  animation: badges 2s ease-in;
}
#main .container .badge h3 {
  margin: 20px 0;
  color: rgba(197, 197, 197, 0.8);
  font-weight: normal;
  font-family: "Simonetta", serif;
  font-size: 1.375rem;
  font-weight: bold;
  padding: 0 10px;
  text-transform: uppercase;
}
#main .container .badge img {
  position: absolute;
  -moz-user-select: none;
  -webkit-user-drag: none;
  left: 17px;
  top: 29%;
  width: 170px;
  transition: 200ms;
  opacity: 0;
}
#main .container .badge .choose {
  position: relative;
  height: 30px;
  width: 80px;
  padding: 0px 10px;
  color: rgba(197, 197, 197, 0.6);
  background: rgba(197, 197, 197, 0.05);
  text-transform: uppercase;
  font-family: "Simonetta", serif;
  font-size: 0.9375rem;
  margin-bottom: 15px;
  border: none;
  opacity: 1;
  z-index: 999;
  transform: translate(0);
}
#main .container .badge .choose:hover, #main .container .badge .choose:active {
  opacity: 1;
  background: rgba(197, 197, 197, 0.15);
  box-shadow: 0 0 10px rgba(197, 197, 197, 0.3);
  transform: translate(0);
  animation: none;
}
#main .container button {
  position: relative;
  max-height: 350px;
  width: 100%;
  height: 100%;
  max-width: 215px;
  padding: 0;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(197, 197, 197, 0.2);
  transition: 400ms;
}
#main .container button:hover, #main .container button:focus {
  transition: 400ms;
  transform: translateY(-4px);
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(197, 197, 197, 0.5);
  animation: badgeShadow 2s infinite;
}
@keyframes badgeShadow {
  0%, 100% {
    box-shadow: 0 0 10px rgba(197, 197, 197, 0.2);
  }
  50% {
    box-shadow: 0 0 20px rgba(197, 197, 197, 0.3);
  }
}
#main .container button:hover img, #main .container button:focus img {
  opacity: 1;
}
#main .container button:hover .aboutChar, #main .container button:focus .aboutChar {
  transition: 300ms;
  opacity: 0;
}
#main .container .aboutChar {
  position: relative;
  top: 0;
  padding: 0 10px;
  font-size: 1rem;
  line-height: 22px;
  text-align: left;
  color: rgba(197, 197, 197, 0.7);
  opacity: 1;
  transition: 300ms;
}
#main .container .aboutChar p {
  font-family: "Telex", sans-serif;
  margin: 10px 0;
}
#main #startGame {
  height: 20px;
  background: rgba(197, 197, 197, 0.7);
  width: 100px;
  padding: 5px 10px 35px;
  margin-bottom: 50px;
  animation: badges 2s ease-in, playBtn 2s infinite;
  font-family: "Simonetta", serif;
  font-size: 1.625rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
#main #startGame:hover, #main #startGame:focus {
  transform: translateY(0);
}
@keyframes playBtn {
  0%, 100% {
    background: rgba(197, 197, 197, 0.7);
  }
  50% {
    background: rgba(197, 197, 197, 0.5);
  }
}

@media only screen and (min-width: 500px) {
  body {
    margin: 0;
    background-image: url("../images/boardgame-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 0;
    cursor: default;
    user-select: none;
    -webkit-user-drag: none;
  }

  @supports (display: grid) {
    .characters {
      max-width: 100%;
      display: grid;
      margin: 0;
      grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
      animation: badges 2800ms ease-out;
    }
  }
}
@media only screen and (min-width: 700px) {
  #main .container h2 {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 750px) {
  #main .container h2 {
    margin-bottom: 0;
    margin-top: 40px;
  }
}
@media only screen and (min-width: 1230px) {
  #main {
    margin: 0;
    background-image: url("../images/background-cold.jpg");
    background-size: 105% 105%;
    background-position: 0% 0%;
    cursor: default;
    animation: mainBackground 2500ms;
    user-select: none;
    -webkit-user-drag: none;
  }
  @keyframes mainBackground {
    from {
      background-position: 0% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }

  @supports (display: grid) {
    .characters {
      max-width: 1200px;
      display: grid;
      margin: 0 auto;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      animation: badges 2800ms ease-out;
    }
  }
  #main .overlay {
    min-height: 100vh;
  }
  #main .container {
    max-height: 100%;
    bottom: 0;
  }
  #main .container .badge {
    margin: 10px 0;
  }
}
#boardgame {
  margin: 0;
  background-image: url("../images/boardgame-background.jpg");
  background-size: 105% 105%;
  background-position: 99% 100%;
  cursor: default;
  animation: gameBackground 2500ms;
  user-select: none;
  -webkit-user-drag: none;
}
@keyframes gameBackground {
  from {
    background-position: 99% 0%;
  }
  to {
    background-position: 99% 100%;
  }
}
#boardgame .overlay {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100vh;
  animation: introFilter 2500ms ease-out;
  z-index: 99;
}
#boardgame .board-background {
  width: 1230px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
}
#boardgame .board-background h1 {
  background-image: -webkit-linear-gradient(#3D3D3D, #B4B4B4, #3D3D3D);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.125rem;
}
@supports (display: grid) {
  #boardgame .board {
    width: 700px;
    margin: 0 auto;
    display: grid;
    color: #000000;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
#boardgame .tile {
  width: 40px;
  height: 35px;
  padding-top: 5px;
  background: #C5C5C5;
  border-radius: 100px;
  margin: 30px;
  font-weight: bold;
  font-size: 1.625rem;
  text-align: center;
}
#boardgame #start, #boardgame #goal {
  width: 100px;
  height: 50px;
  margin: 20px 30px 10px 0;
  right: 0;
  border-radius: 0;
  background: -webkit-linear-gradient(#3D3D3D, #B4B4B4, #3D3D3D);
}
#boardgame #goal {
  margin-top: 10px;
  height: 70px;
  width: 115px;
}
#boardgame #goal img {
  width: 120px;
}
#boardgame .empty-3, #boardgame .empty-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}
#boardgame .empty-3 h2, #boardgame .empty-2 h2 {
  margin: 0;
  font-weight: normal;
  font-size: 2.1875rem;
}
#boardgame .empty-2 {
  width: 200px;
}
#boardgame .dorne {
  background: radial-gradient(#B89A55, #2c2315);
  color: #2c2315;
}
#boardgame #dorne {
  color: #C7B37B;
}
#boardgame .stormlands {
  background: radial-gradient(#E9E381, #333018);
  color: #333018;
}
#boardgame #stormlands {
  color: #E9E381;
}
#boardgame .reach {
  background: radial-gradient(#94A77C, #19260B);
  color: #19260B;
}
#boardgame #reach {
  color: #94A77C;
}
#boardgame .riverlands {
  background: radial-gradient(#3D788E, #0B1A26);
  color: #0B1A26;
}
#boardgame #riverlands {
  color: #89b0c0;
}
#boardgame .north {
  background: radial-gradient(#596683, #0D1016);
  color: #0D1016;
}
#boardgame #north {
  color: #8EA0BD;
}
#boardgame .crownlands, #boardgame .westerlands, #boardgame .vale, #boardgame .isles {
  background: radial-gradient(#916F8F, #2A1529);
  color: #2A1529;
  margin-top: 22px;
  width: 50px;
  height: 40px;
  padding-top: 10px;
  font-size: 1.75rem;
}
#boardgame #crownlands {
  color: #D2BAE3;
}
#boardgame .westerlands {
  background: radial-gradient(#8b5660, #230C11);
  color: #230C11;
}
#boardgame #westerlands {
  color: #B99898;
}
#boardgame .vale {
  background: radial-gradient(#60659e, #090B1C);
  color: #090B1C;
}
#boardgame #vale {
  color: #B3AACF;
}
#boardgame .isles {
  background: radial-gradient(#A89069, #261C0D);
  color: #261C0D;
}
#boardgame #isles {
  color: #A8A48A;
}

/*# sourceMappingURL=main.css.map */
