/* Zones */
/* Typography */
/* Pure colors */
@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative|Telex|IM+Fell+Great+Primer+SC|Barlow+Semi+Condensed|Simonetta&display=swap");
.row::after {
  content: "";
  display: block;
  clear: both;
}

::selection {
  background-color: #000000;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(to top, #000000, rgba(35, 41, 55, 0.5), #000000);
  transition: 500ms;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to top, #000000, #232937, #000000);
}

::-webkit-scrollbar-corner, ::-webkit-resizer {
  background: none;
  border: none;
}

body {
  margin: 0;
  background-image: url("../images/boardgame-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: -450px 0;
  cursor: default;
  user-select: none;
  -webkit-user-drag: none;
}

button:focus {
  border: 1px solid #C5C5C5;
}

h1 {
  font-family: "Cinzel Decorative", serif;
}

h2 {
  font-family: "IM Fell Great Primer SC", serif;
}

p, h3, h4, h5, h6 {
  font-family: "Simonetta", serif;
}

/* Logo, music and help */
.logo {
  background: none;
  border: 1px solid #ffffff00;
  margin: 20px 10px;
  position: absolute;
  z-index: 9999;
}
.logo img {
  width: 200px;
  opacity: 0.6;
  cursor: pointer;
}
.logo img:hover, .logo img:focus {
  opacity: 0.8;
}

.music {
  display: block;
  position: fixed;
  z-index: 999;
  right: 30px;
  top: 30px;
  border: 1px solid #ffffff00;
  background: none;
  cursor: pointer;
  opacity: 0.7;
}
.music img {
  width: 35px;
}

.introAnimationMusic p {
  font-size: 1.125rem;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  color: rgba(197, 197, 197, 0.8);
  border-radius: 10px;
  border-top-right-radius: 0;
  font-weight: bold;
  padding: 10px;
  right: 65px;
  top: 50px;
  opacity: 0;
  z-index: 9999;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.4);
  animation: introAnimation 4s, introAnimationFade 4s ease-in-out;
  animation-delay: 500ms;
}

.introAnimationHelp p {
  font-size: 1.125rem;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  color: rgba(197, 197, 197, 0.8);
  border-radius: 10px;
  border-bottom-left-radius: 0;
  font-weight: bold;
  padding: 10px;
  left: 69px;
  bottom: 52px;
  opacity: 0;
  z-index: 9999;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.4);
  animation: introAnimation 4s, introAnimationFade 4s ease-in-out;
  animation-delay: 4500ms;
}

@keyframes introAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  30%, 70% {
    transform: translateY(-2px);
  }
}
@keyframes introAnimationFade {
  0%, 100% {
    opacity: 0;
  }
  20%, 50%, 80% {
    opacity: 1;
  }
}
.music:hover {
  opacity: 1;
}

.infoPopup {
  display: block;
  position: fixed;
  z-index: 999;
  left: 30px;
  bottom: 30px;
}
.infoPopup .help {
  display: block;
  position: relative;
  z-index: 999;
  left: 0;
  bottom: 0;
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.7;
}
.infoPopup .help img {
  width: 35px;
}
.infoPopup .help:hover {
  opacity: 1;
}
.infoPopup #helpContent {
  position: absolute;
  padding: 0px 20px;
  top: -386px;
  left: 50px;
  width: 300px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  position: absolute;
  background: #C5C5C5;
  box-shadow: inset -5px -5px 50px rgba(0, 0, 0, 0.7);
  animation: helpContent 200ms ease-out;
  display: none;
}
@keyframes helpContent {
  from {
    top: -170px;
    left: -146px;
    opacity: 0;
    transform: scale(0);
  }
  to {
    top: -386px;
    left: 50px;
    opacity: 1;
    transform: scale(1);
  }
}
.infoPopup #helpContent h2 {
  font-size: 1.75rem;
}
.infoPopup #helpContent p {
  font-size: 1.1875rem;
  line-height: 25px;
}
.infoPopup #helpContent .bold {
  font-weight: bold;
}
.infoPopup #helpContent img {
  width: 29px;
  margin: 0 2px -7px 0px;
  cursor: pointer;
}
.infoPopup #helpContent .closeHelp {
  display: block;
  position: absolute;
  bottom: -44px;
  left: -60px;
  border: none;
  background: none;
  opacity: 0.8;
  z-index: 9999;
}
.infoPopup #helpContent .closeHelp img {
  width: 35px;
}
.infoPopup #helpContent .closeHelp:hover {
  opacity: 1;
}

@media only screen and (max-width: 500px) {
  .infoPopup #helpContent {
    top: -466px;
    left: 30px;
    width: 250px;
    animation: none;
  }
  .infoPopup #helpContent .closeHelp {
    left: -30px;
    top: 402px;
  }

  .music {
    top: 15px;
    right: 15px;
    opacity: 1;
  }

  .help {
    opacity: 1;
  }

  .introAnimationMusic p {
    padding: 10px;
    right: 50px;
    top: 40px;
    font-size: 1rem;
  }

  .introAnimationHelp p {
    padding: 10px;
    left: 65px;
    bottom: 50px;
    font-size: 1rem;
  }
}
img {
  user-select: none;
  -webkit-user-drag: none;
}

.intro {
  background-image: url("../images/background-warm.jpg");
  background-size: 130% 130%;
  cursor: default;
  animation: introBackground 32s infinite;
}
@keyframes introBackground {
  0%, 1%, 100% {
    background-position: 0% 0%;
    background-size: 100% 100%;
  }
  20% {
    background-position: 0% 50%;
    background-size: 150% 150%;
  }
  40% {
    background-position: 50% 100%;
    background-size: 130% 130%;
  }
  60% {
    background-position: 100% 50%;
    background-size: 120% 120%;
  }
  80% {
    background-position: 100% 100%;
    background-size: 160% 160%;
  }
}
.intro .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  animation: introFade 1800ms ease, darkFilter 8s infinite;
}
@keyframes darkFilter {
  0%, 100% {
    background-color: rgba(0, 0, 0, 0.65);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.75);
  }
}
.intro h1 {
  font-size: 6.875rem;
  margin: 0;
  background-image: -webkit-linear-gradient(#000000, #414141, #e0e0e0, #414141, #000000);
  background-size: 100% 150%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
  animation: title 5000ms infinite, introFade 2300ms ease-in;
}
@keyframes introFade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes title {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.intro span {
  font-size: 8.125rem;
}
.intro button {
  background: none;
  border: none;
}
.intro p {
  font-size: 1.5rem;
  color: #C5C5C5;
  margin: 5px;
  animation: startGame 3000ms infinite, introFade 2300ms ease-in;
}
@keyframes startGame {
  0%, 100% {
    color: rgba(197, 197, 197, 0.8);
  }
  50% {
    color: #c5c5c5;
  }
}

#logo {
  display: none;
}

@media only screen and (max-width: 450px) {
  .intro {
    background-image: url("/images/background-warm.jpg");
    background-size: 220% 100%;
    cursor: default;
    animation: introBackground 32s infinite;
  }
  @keyframes introBackground {
    0%, 1%, 100% {
      background-position: 0% 0%;
      background-size: 240% 100%;
    }
    20% {
      background-position: 0% 50%;
      background-size: 340% 150%;
    }
    40% {
      background-position: 50% 100%;
      background-size: 270% 130%;
    }
    60% {
      background-position: 100% 50%;
      background-size: 260% 120%;
    }
    80% {
      background-position: 100% 100%;
      background-size: 320% 160%;
    }
  }
  .intro h1 {
    padding: 0 20px;
    font-size: 2.0625rem;
  }
  .intro h1 span {
    font-size: 2.375rem;
  }
  .intro p {
    margin-top: 10px;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 451px) and (max-width: 800px) {
  .intro {
    background-image: url("/images/background-warm.jpg");
    background-size: 100% 100%;
    cursor: default;
    animation: introBackground 32s infinite;
  }
  @keyframes introBackground {
    0%, 1%, 100% {
      background-position: 0% 0%;
      background-size: 180% 100%;
    }
    20% {
      background-position: 0% 50%;
      background-size: 260% 150%;
    }
    40% {
      background-position: 50% 100%;
      background-size: 240% 130%;
    }
    60% {
      background-position: 100% 50%;
      background-size: 210% 120%;
    }
    80% {
      background-position: 100% 100%;
      background-size: 280% 160%;
    }
  }
  .intro h1 {
    padding: 0 20px;
    font-size: 3.3125rem;
  }
  .intro h1 span {
    font-size: 3.625rem;
  }
  .intro p {
    margin-top: 10px;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 801) and (max-width: 1200px) {
  .intro h1 {
    padding: 0 20px;
    font-size: 3.9375rem;
  }
  .intro h1 span {
    font-size: 4.25rem;
  }
  .intro p {
    margin-top: 10px;
    font-size: 1rem;
  }
}
footer {
  position: relative;
  display: block;
  bottom: 0;
  max-width: 100%;
  text-align: right;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.9) 30%, rgba(0, 0, 0, 0.95) 50%, rgba(0, 0, 0, 0.9) 80%, rgba(0, 0, 0, 0.7) 100%);
}
footer p {
  color: rgba(197, 197, 197, 0.3);
  padding: 10px;
  margin: 0;
  right: 0;
  cursor: default;
}
footer p a {
  color: rgba(197, 197, 197, 0.4);
  cursor: pointer;
}

#boardgame-footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  background: none;
}

@media only screen and (min-width: 1230px) {
  footer {
    position: fixed;
    display: block;
    bottom: 0;
    right: 0;
    background: none;
  }
  footer p {
    color: rgba(197, 197, 197, 0.3);
    padding-right: 14px;
    cursor: default;
    float: right;
  }
  footer p a {
    color: rgba(197, 197, 197, 0.3);
    cursor: pointer;
  }
  footer p a:hover, footer p a:focus {
    color: rgba(197, 197, 197, 0.5);
  }
}
img {
  user-select: none;
  -webkit-user-drag: none;
}

#main {
  display: none;
}
#main .overlay {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
  animation: introFilter 2500ms ease-out;
  z-index: 99;
}
@keyframes introFilter {
  from {
    background-color: black;
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}
#main .container {
  width: 1230px;
  margin: 0 auto;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.9) 30%, rgba(0, 0, 0, 0.95) 50%, rgba(0, 0, 0, 0.9) 80%, rgba(0, 0, 0, 0.7) 100%);
}
#main .container h2 {
  margin: 90px 0 60px;
  background-image: -webkit-linear-gradient(#000000, #414141, #e0e0e0, #414141, #000000);
  background-size: 200% 200%;
  background-position: 0% 50%;
  background-clip: text;
  font-family: "Cinzel Decorative", serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.125rem;
  font-weight: normal;
  animation: badges 2s ease-in;
}
@keyframes badges {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#main .container input, #main .container #confirm {
  text-align: left;
  margin: 20px 5px 20px;
  min-width: 265px;
  padding: 10px;
  background: #000000;
  border: 1px solid rgba(197, 197, 197, 0.2);
  color: #C5C5C5;
  transition: 400ms;
  font-family: "Simonetta", serif;
  font-size: 1.125rem;
  text-transform: uppercase;
}
#main .container input {
  cursor: default;
}
#main .container #selectPlayer1, #main .container #selectPlayer2 {
  background-image: none;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: 246px 3px;
}
#main .container #selectPlayer1 {
  animation: badges 2s ease-in;
}
#main .container #versus {
  font-size: 1.875rem;
  margin: 15px 20px 0;
  background-image: -webkit-linear-gradient(#000000, #414141, #e0e0e0, #414141, #000000);
  background-size: 200% 200%;
  background-position: 0% 50%;
  background-clip: text;
  font-family: "Cinzel Decorative", serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 200ms;
  opacity: 0;
}
#main .container #selectPlayer2 {
  opacity: 0;
  position: relative;
}
#main .container #confirm {
  position: absolute;
  margin-left: -291px;
  margin-top: 20px;
  cursor: pointer;
  background: rgba(197, 197, 197, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #000000;
  animation: badges 2s ease-in, selectChar 2s infinite;
  transition: 200ms;
}
#main .container #confirm:hover, #main .container #confirm:focus {
  box-shadow: 0 0 10px rgba(197, 197, 197, 0.7);
  transition: 200ms;
  background: #C5C5C5;
}
#main .container #startGame {
  display: block;
  height: 20px;
  background: rgba(197, 197, 197, 0.7);
  width: 100px;
  padding: 5px 10px 35px;
  border: none;
  margin: 0 auto 15px;
  font-family: "Simonetta", serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: normal;
  transition: 400ms;
  opacity: 0;
}
#main .container #startGame:hover, #main .container #startGame:focus {
  animation: badgeShadow 2s infinite;
  transition: 400ms;
}
#main .container #confirmText {
  position: absolute;
  font-family: "Simonetta", serif;
  font-size: 1.25rem;
  color: white;
  background: black;
  border-top: 1px solid #c5c5c550;
  left: 0;
  right: 0;
  padding-top: 2px;
  bottom: -17px;
  text-transform: uppercase;
}
#main .container .badge {
  width: unset;
  margin: 10px 0 30px;
  transition: 200ms;
  animation: badges 2s ease-in;
}
#main .container .badge h3 {
  margin: 20px 0;
  color: rgba(197, 197, 197, 0.8);
  font-weight: normal;
  font-family: "Simonetta", serif;
  font-size: 1.375rem;
  font-weight: bold;
  padding: 0 10px;
  text-transform: uppercase;
  top: 0;
}
#main .container .badge img {
  position: absolute;
  -moz-user-select: none;
  -webkit-user-drag: none;
  left: 17px;
  top: 31%;
  width: 170px;
  transition: 200ms;
}
@keyframes badgeShadow {
  0%, 100% {
    box-shadow: 0 0 10px rgba(197, 197, 197, 0.2);
  }
  50% {
    box-shadow: 0 0 20px rgba(197, 197, 197, 0.3);
  }
}
#main .container button:hover .aboutChar, #main .container button:focus .aboutChar {
  transition: 300ms;
}
#main .container .aboutChar {
  position: relative;
  top: 0;
  padding: 0 10px;
  font-size: 1rem;
  line-height: 22px;
  text-align: left;
  color: rgba(197, 197, 197, 0.7);
  opacity: 1;
  transition: 300ms;
}
#main .container .aboutChar p {
  font-family: "Telex", sans-serif;
  margin: 10px 0;
}
#main .container .aboutChar span {
  color: rgba(197, 197, 197, 0.55);
}

#transitionOverlay {
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100vh;
  transition: background 1s ease-in;
  background: rgba(0, 0, 0, 0);
  z-index: 999;
  pointer-events: none;
}

/*----------------
   media queries
----------------*/
@media only screen and (min-width: 500px) {
  body {
    margin: 0;
    background-image: url("../images/boardgame-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 0;
    cursor: default;
    user-select: none;
    -webkit-user-drag: none;
  }

  @supports (display: grid) {
    .characters {
      max-width: 100%;
      display: grid;
      margin: 0;
      grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
      animation: badges 2800ms ease-out;
    }
  }
}
@media only screen and (max-width: 680px) {
  #main .container #selectPlayer2 {
    top: -55px;
  }
  #main .container #confirm {
    margin-top: -35px;
  }
  #main .container #startGame {
    margin: -40px auto;
  }
  #main .container #versus {
    display: block;
  }

  .badge {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 700px) {
  #main .container h2 {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 750px) {
  #main .container h2 {
    margin-bottom: 10px;
    margin-top: 30px;
  }
}
@media only screen and (min-width: 1230px) {
  #main {
    margin: 0;
    background-image: url("../images/background-cold.jpg");
    background-size: 105% 105%;
    background-position: 0% 0%;
    cursor: default;
    animation: mainBackground 2500ms;
    user-select: none;
    -webkit-user-drag: none;
  }
  @keyframes mainBackground {
    from {
      background-position: 0% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }

  @supports (display: grid) {
    .characters {
      max-width: 1200px;
      display: grid;
      margin: 0 auto;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      animation: badges 2800ms ease-out;
    }
  }
  #main .overlay {
    min-height: 100vh;
  }
  #main .container {
    max-height: 100%;
    bottom: 0;
  }
  #main .container .badge {
    margin: 10px 0;
  }
}
img {
  user-select: none;
  -webkit-user-drag: none;
}

.snowAnimation {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.snowAnimation .snow {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 10px;
  background: radial-gradient(rgba(197, 197, 197, 0.3), rgba(0, 0, 0, 0));
  top: 5px;
  left: 5px;
  animation: snowY 15s ease-out infinite;
  overflow: hidden;
  opacity: 0;
  animation-delay: 1s;
}
.snowAnimation .snow:nth-child(2) {
  left: 70px;
  animation: snowY 25s ease-out infinite;
  animation-delay: 5s;
}
.snowAnimation .snow:nth-child(3) {
  left: 270px;
  animation: snowY 18s ease-out infinite;
  animation-delay: 10s;
}
.snowAnimation .snow:nth-child(4) {
  left: 310px;
  animation: snowY 10s ease-out infinite;
  animation-delay: 15s;
}
.snowAnimation .snow:nth-child(5) {
  left: 150px;
  animation: snowY 13s linear infinite;
  animation-delay: 20s;
}
@keyframes snowY {
  0% {
    opacity: 0;
  }
  10%, 50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(50vh);
  }
}

.glowAnimation {
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
}
.glowAnimation .glow {
  position: absolute;
  width: 3px;
  height: 20px;
  border-radius: 10%;
  background: radial-gradient(rgba(102, 60, 40, 0.8), rgba(0, 0, 0, 0));
  bottom: 5px;
  right: 5px;
  animation: glowY 10s ease-out infinite;
  overflow: hidden;
  opacity: 0;
  animation-delay: 1s;
}
.glowAnimation .glow:nth-child(2) {
  right: 70px;
  animation: glowY 20s ease-out infinite;
  animation-delay: 5s;
}
.glowAnimation .glow:nth-child(3) {
  right: 270px;
  animation: glowY 13s ease-out infinite;
  animation-delay: 10s;
}
.glowAnimation .glow:nth-child(4) {
  right: 310px;
  animation: glowY 10s ease-out infinite;
  animation-delay: 15s;
}
.glowAnimation .glow:nth-child(5) {
  right: 150px;
  animation: glowY 8s linear infinite;
  animation-delay: 20s;
}
@keyframes glowY {
  0% {
    opacity: 0;
  }
  10%, 50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-80vh);
  }
}

#boardgame {
  position: relative;
  margin: 0;
  background-image: url("../images/boardgame-background.jpg");
  background-size: 105% 105%;
  background-position: 99% 100%;
  cursor: default;
  min-height: 100%;
  animation: gameBackground 2500ms;
  user-select: none;
  -webkit-user-drag: none;
}
@keyframes gameBackground {
  from {
    background-position: 99% 0%;
  }
  to {
    background-position: 99% 100%;
  }
}
@keyframes fadeInGame {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#boardgame .overlay {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100vh;
  animation: introFilter 2500ms ease-out;
  z-index: 99;
}
#boardgame .overlay #stats1 {
  position: absolute;
  animation: fadeInGame 2500ms;
}
#boardgame .overlay #stats1 #player1Stats {
  box-shadow: 4px 4px 10px -6px #C5C5C566;
  background: #00000080;
  border-bottom-right-radius: 100px;
  height: 250px;
  width: 250px;
  color: rgba(197, 197, 197, 0.8);
  padding: 20px 0;
  transition: 200ms all;
}
#boardgame .overlay h3 {
  background-image: -webkit-linear-gradient(#3D3D3D, #B4B4B4, #3D3D3D);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px 0;
  font-size: 1.625rem;
}
#boardgame .overlay [id^=dieCounter] {
  margin-top: -10px;
}
#boardgame .overlay #stats2 {
  position: absolute;
  animation: fadeInGame 2500ms;
  right: 0;
}
#boardgame .overlay #stats2 #player2Stats {
  opacity: 0.4;
  background: #00000099;
  box-shadow: inset 4px -4px 10px -6px #C5C5C533;
  border-bottom-left-radius: 100px;
  height: 250px;
  width: 250px;
  color: rgba(197, 197, 197, 0.8);
  padding: 20px 0;
  transition: 200ms all;
}
#boardgame .board-background {
  position: relative;
  width: 1230px;
  margin: 0 auto;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), #000000, rgba(0, 0, 0, 0.8));
}
#boardgame .board-background h1 {
  margin: 40px 30px 10px 0;
  background-image: -webkit-linear-gradient(#3D3D3D, #B4B4B4, #3D3D3D);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.875rem;
  animation: fadeInGame 2500ms;
  transition: 200ms all;
}
#boardgame .board-background h2, #boardgame .board-background h3, #boardgame .board-background h4 {
  animation: fadeInGame 2500ms;
}
@supports (display: grid) {
  #boardgame #board {
    position: relative;
    width: 750px;
    margin: 0 auto;
    display: grid;
    color: #000000;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
#boardgame .tile, #boardgame .bonusTile {
  width: 40px;
  height: 35px;
  padding-top: 5px;
  background: #C5C5C5;
  border-radius: 100px;
  margin: 20px;
  font-weight: bold;
  font-size: 1.625rem;
  text-align: center;
  animation: fadeInGame 2500ms ease-out;
  font-family: "Simonetta", serif;
}
#boardgame .tile .starTile, #boardgame .bonusTile .starTile {
  width: 30px;
}
#boardgame .tile .starTile2, #boardgame .bonusTile .starTile2 {
  width: 40px;
  margin-top: -5px;
  margin-left: 0;
}
#boardgame .lineX, #boardgame .lineX2 {
  width: 67px;
  height: 1px;
  margin-top: -17px;
  margin-left: 40px;
  background: linear-gradient(to left, #00000000, rgba(129, 129, 129, 0.486), #00000000);
}
#boardgame .lineY, #boardgame .lineY2 {
  width: 1px;
  height: 40px;
  margin-top: -82px;
  margin-left: 20px;
  background: linear-gradient(to top, #00000000, rgba(129, 129, 129, 0.486), #00000000);
}
#boardgame .lineX2 {
  margin-top: 17px;
}
#boardgame .lineY2 {
  margin-top: -75px;
}
#boardgame #tile30 {
  background: none;
}
#boardgame #tile30 img {
  width: 80px;
  margin-top: -30px;
  margin-left: -20px;
  opacity: 0.6;
  animation: ironThrone 3s infinite;
  z-index: 0;
}
@keyframes ironThrone {
  0%, 100% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.5;
  }
}
#boardgame #tile0 {
  max-width: 50px;
  margin-left: 50px;
  margin-top: -60px;
}
#boardgame .empty-3, #boardgame .empty-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}
#boardgame .empty-3 h2, #boardgame .empty-2 h2 {
  margin: 0;
  font-weight: normal;
  font-size: 1.875rem;
}
#boardgame .empty-2 {
  width: 200px;
}
#boardgame .dorne {
  background: radial-gradient(#B89A55, #1b150b);
  color: #1b150b;
}
#boardgame #dorne {
  color: #C7B37B;
}
#boardgame .stormlands {
  background: radial-gradient(#E9E381, #25230f);
  color: #25230f;
}
#boardgame #stormlands {
  color: #E9E381;
}
#boardgame .reach {
  background: radial-gradient(#94A77C, #0c1305);
  color: #0c1305;
}
#boardgame #reach {
  color: #94A77C;
}
#boardgame .riverlands {
  background: radial-gradient(#3D788E, #060e14);
  color: #060e14;
}
#boardgame #riverlands {
  color: #89b0c0;
}
#boardgame .north {
  background: radial-gradient(#596683, #040507);
  color: #040507;
}
#boardgame #titleNorth {
  color: #8EA0BD;
}
#boardgame .players {
  position: absolute;
  width: 70px;
  transition: 0.2s all;
  margin-top: -15px;
  margin-left: -18px;
  z-index: 99;
}
#boardgame .players img {
  width: 70px;
  animation: fadeInGame 2500ms ease-in, rotatePieces 2500ms ease;
}
#boardgame .players #token1 {
  transition: 200ms all;
}
#boardgame .players #token2 {
  margin-left: -140px;
  transition: 200ms all;
}
@keyframes tokenJump {
  0%, 100% {
    transform: scale(1) translateY(0);
  }
  75% {
    transform: translateY(0);
  }
  85% {
    transform: translateY(-5px);
  }
}
@keyframes notification {
  0%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#boardgame #dice {
  position: relative;
  margin: 20px 30px 40px 0;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 7px;
  box-shadow: inset 0 0 10px black;
  font-size: 1.875rem;
  cursor: pointer;
  animation: fadeInGame 2500ms ease-in, rotatePieces 2500ms ease-in-out;
}
@keyframes rotatePieces {
  50% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(405deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#boardgame #dice img {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 50px;
}

#winnerOverlay {
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100vh;
  transition: background 1s ease-in;
  background: rgba(0, 0, 0, 0);
  z-index: 999;
  pointer-events: none;
}

@media only screen and (max-width: 1440px) {
  #player1Stats, #player2Stats {
    max-width: 200px;
    max-height: 220px;
  }
  #player1Stats img, #player2Stats img {
    width: 150px;
  }

  #boardgame #playersTurn {
    font-size: 1.875rem;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  #boardgame #dice {
    margin-top: 0;
    margin-bottom: 15px;
    width: 40px;
    height: 40px;
  }
  #boardgame #dice img {
    width: 35px;
  }
  #boardgame .tile, #boardgame .bonusTile {
    margin: 15px;
  }

  #tile0 {
    max-width: 50px;
    margin-left: 50px;
    margin-top: -58px;
  }
}
@media only screen and (max-width: 930px) {
  #player1Stats {
    border-bottom-right-radius: 10px;
    max-width: 120px;
    max-height: 130px;
  }
  #player1Stats img {
    width: 70px;
  }

  #player2Stats {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 10px;
    max-width: 120px;
    max-height: 130px;
  }
  #player2Stats img {
    width: 70px;
  }

  #boardgame {
    background-image: none;
  }
  #boardgame #playersTurn {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  #boardgame .board-background {
    min-height: 210vh;
  }
  #boardgame .overlay h3 {
    font-size: 1.25rem;
  }
  #boardgame .tile, #boardgame .bonusTile {
    margin: 30px;
  }
  #boardgame #dice {
    width: 55px;
    height: 55px;
    margin-bottom: 20px;
  }
  #boardgame #dice img {
    width: 50px;
  }
}
img {
  user-select: none;
  -webkit-user-drag: none;
}

.winnerPage {
  background-image: url("../images/background-warm.jpg");
  background-position: 0% 0%;
  background-size: 100% 100%;
  cursor: default;
  user-select: none;
  -webkit-user-drag: none;
}
.winnerPage .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  animation: introFade 1800ms ease, darkFilter 8s infinite;
}
@keyframes darkFilter {
  0%, 100% {
    background-color: rgba(0, 0, 0, 0.75);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.85);
  }
}
.winnerPage #transitionOverlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  opacity: 0;
  background-color: #000000;
  animation: outroFade 2.5s ease-out;
  pointer-events: none;
}
@keyframes outroFade {
  0%, 30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.winnerPage h1, .winnerPage h2 {
  font-size: 3.75rem;
  color: rgba(197, 197, 197, 0.9);
  animation: title 5000ms infinite, introFade 2300ms ease-in, winner 4s ease-in-out infinite;
  display: block;
  font-weight: normal;
}
.winnerPage h2 {
  font-family: "Cinzel Decorative", serif;
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.winnerPage #winnerToken {
  user-select: none;
  -webkit-user-drag: none;
  width: 200px;
  animation: winner 4s ease-in-out infinite;
}
@keyframes winner {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}
@keyframes introFade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes title {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.winnerPage #playAgain, .winnerPage #about {
  padding: 10px 20px;
  margin-top: 30px;
  bottom: -40px;
  z-index: 99;
  background: rgba(0, 0, 0, 0.3);
  color: rgba(197, 197, 197, 0.7);
  font-family: "Simonetta", serif;
  font-size: 1.25rem;
  border-radius: 3px;
  border: 1px solid rgba(197, 197, 197, 0.3);
  transition: 200ms;
  cursor: pointer;
  z-index: 9999;
  animation: introFade 2300ms ease-in;
}
.winnerPage #playAgain:hover, .winnerPage #playAgan:focus, .winnerPage #about:hover, .winnerPage #about:focus {
  background: rgba(197, 197, 197, 0.05);
  color: #C5C5C5;
  transition: 200ms;
}

@media only screen and (max-width: 1024px) {
  .winnerPage {
    background-position: -500px;
    background-attachment: cover;
  }
  .winnerPage h1 {
    font-size: 2.1875rem;
    padding: 0 10px;
  }
  .winnerPage h2 {
    font-size: 1.25rem;
  }
}

/*# sourceMappingURL=main.css.map */
