img {user-select: none; -webkit-user-drag: none;}

.snowAnimation {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;

    .snow {
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 10px;
        background: radial-gradient(rgba($goz-white, 0.3), rgba(#000000, 0));
        top: 5px;
        left: 5px;
        animation: snowY 15s ease-out infinite;
        overflow: hidden;
        opacity: 0;
        animation-delay: 1s;
    }

    .snow:nth-child(2) {
        left: 70px;
        animation: snowY 25s ease-out infinite;
        animation-delay: 5s;
    }

    .snow:nth-child(3) {
        left: 270px;
        animation: snowY 18s ease-out infinite;
        animation-delay: 10s;
    }

    .snow:nth-child(4) {
        left: 310px;
        animation: snowY 10s ease-out infinite;
        animation-delay: 15s;
    }

    .snow:nth-child(5) {
        left: 150px;
        animation: snowY 13s linear infinite;
        animation-delay: 20s;
    }

    @keyframes snowY {
        0% {
            opacity: 0;
        }
    
        10%, 50% {
            opacity: 1;
        }
    
        100% {
            opacity: 0;
            transform: translateY(50vh);
        }
    }
}

.glowAnimation {
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;

    .glow {
        position: absolute;
        width: 3px;
        height: 20px;
        border-radius: 10%;
        background: radial-gradient(rgba(#663c28, 0.8), rgba(#000000, 0));
        bottom: 5px;
        right: 5px;
        animation: glowY 10s ease-out infinite;
        overflow: hidden;
        opacity: 0;
        animation-delay: 1s;
    }

    .glow:nth-child(2) {
        right: 70px;
        animation: glowY 20s ease-out infinite;
        animation-delay: 5s;
    }

    .glow:nth-child(3) {
        right: 270px;
        animation: glowY 13s ease-out infinite;
        animation-delay: 10s;
    }

    .glow:nth-child(4) {
        right: 310px;
        animation: glowY 10s ease-out infinite;
        animation-delay: 15s;
    }

    .glow:nth-child(5) {
        right: 150px;
        animation: glowY 8s linear infinite;
        animation-delay: 20s;
    }

    @keyframes glowY {
        0% {
            opacity: 0;
        }
    
        10%, 50% {
            opacity: 1;
        }
    
        100% {
            opacity: 0;
            transform: translateY(-80vh);
        }
    }
}

#boardgame {
    position: relative;
    margin: 0;
    background-image: url('../images/boardgame-background.jpg');
    background-size: 105% 105%;
    background-position: 99% 100%;
    cursor: default;
    min-height: 100%;
    animation: gameBackground 2500ms;
    user-select: none;
    -webkit-user-drag: none;

    @keyframes gameBackground {
        from {
            background-position: 99% 0%;
        }

        to {
            background-position: 99% 100%;
        }
    }

    @keyframes fadeInGame {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .overlay {
        display: flex;
        text-align: center;
        width: 100%;
        height: 100vh;
        animation: introFilter 2500ms ease-out;
        z-index: 99;

        #stats1 {
            position: absolute;
            animation: fadeInGame 2500ms;

            #player1Stats {
                box-shadow: 4px 4px 10px -6px #C5C5C566;
                background: #00000080;
                border-bottom-right-radius: 100px;
                height: 250px;
                width: 250px;
                color: rgba($goz-white, 0.8);
                padding: 20px 0;
                transition: 200ms all;
            }
        }
            
        h3 {
            background-image: $goz-iron-title;
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 10px 0;
            @include calcRem(26);
        }

        [id^=dieCounter] {
            margin-top: -10px;
        }

        #stats2 {
            position: absolute;
            animation: fadeInGame 2500ms;
            right: 0;

            #player2Stats {
                opacity: 0.4;
                background: #00000099;
                box-shadow: inset 4px -4px 10px -6px #C5C5C533;
                border-bottom-left-radius: 100px;
                height: 250px;
                width: 250px;
                color: rgba($goz-white, 0.8);
                padding: 20px 0;
                transition: 200ms all;
            }
        }
    }

    .board-background {
        position: relative;
        width: 1230px;
        margin: 0 auto;
        background: linear-gradient(to right, rgba($goz-black, 0.8), $goz-black, rgba($goz-black, 0.8));

            h1 {
                margin: 40px 30px 10px 0;
                background-image: $goz-iron-title;
                background-clip: text;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent;
                @include calcRem(30);
                animation: fadeInGame 2500ms;
                transition: 200ms all;
            }

            h2, h3, h4 {
                animation: fadeInGame 2500ms;
            }

            
    }

    @supports (display: grid) {
        #board {
            position: relative;
            width: 750px;
            margin: 0 auto;
            display: grid;
            color: $goz-black;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        }
    }

    .tile, .bonusTile {
        width: 40px;
        height: 35px;
        padding-top: 5px;
        background: $goz-white;
        border-radius: 100px;
        margin: 20px;
        font-weight: bold;
        @include calcRem(26);
        text-align: center;
        animation: fadeInGame 2500ms ease-out;
        font-family: 'Simonetta', serif;

            .starTile {
                width: 30px;
            }
            
            .starTile2 {
                width: 40px;
                margin-top: -5px;
                margin-left: 0;
            }
    }

    .lineX, .lineX2 {
        width: 67px;
        height: 1px;
        margin-top: -17px;
        margin-left: 40px;
        background: linear-gradient(to left, #00000000, rgba(129, 129, 129, 0.486), #00000000);
      }
      
      .lineY, .lineY2 {
        width: 1px;
        height: 40px;
        margin-top: -82px;
        margin-left: 20px;
        background: linear-gradient(to top, #00000000, rgba(129, 129, 129, 0.486), #00000000);
      }
      
      .lineX2 {
        margin-top: 17px;
      }
      
      .lineY2 {
        margin-top: -75px;
      }

    #tile30 {
        background: none;

            img {    
                width: 80px;
                margin-top: -30px;
                margin-left: -20px;
                opacity: 0.6;
                animation: ironThrone 3s infinite;
                z-index: 0;
            }

            @keyframes ironThrone {
                0%, 100% {
                    opacity: 0.6;
                }

                50% {
                    opacity: 0.5;
                }
            }
    }

    #tile0 {
        max-width: 50px;
        margin-left: 50px;
        margin-top: -60px;
    }

    .empty-3, .empty-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;

            h2 {
                margin: 0;
                font-weight: normal;
                @include calcRem(30);
            }
    }

    .empty-2 {
        width: 200px;
    }

    //zones
    .dorne {background: radial-gradient($goz-dorne-2, $goz-dorne-1);color: $goz-dorne-1;}
    #dorne {color: $goz-dorne-3;}
    .stormlands {background: radial-gradient($goz-stormlands-3, $goz-stormlands-1);color: $goz-stormlands-1;}
    #stormlands {color: $goz-stormlands-3;}
    .reach {background: radial-gradient($goz-reach-3, $goz-reach-1);color: $goz-reach-1;}
    #reach {color: $goz-reach-3;}
    .riverlands {background: radial-gradient($goz-riverlands-2, $goz-riverlands-1);color: $goz-riverlands-1;}
    #riverlands {color: $goz-riverlands-3;}
    .north {background: radial-gradient($goz-north-3, $goz-north-1);color: $goz-north-1;}
    #titleNorth {color: $goz-north-4;}

    .players {
        position: absolute;
        width: 70px;
        transition: 0.2s all;
        margin-top: -15px;
        margin-left: -18px;
        z-index: 99;

            img {
                width: 70px;
                animation: fadeInGame 2500ms ease-in, rotatePieces 2500ms ease;
            }

            #token1 {
                transition: 200ms all;
            }

            #token2 {
                margin-left: -140px;
                transition: 200ms all;
            }

            @keyframes tokenJump {
                0%, 100% {
                    transform: scale(1) translateY(0);
                }

                75% {
                    transform: translateY(0);
                }

                85% {
                    transform: translateY(-5px);
                }
            }
    }

    @keyframes notification {
        0%, 90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    #dice {
        position: relative;
        margin: 20px 30px 40px 0;
        width: 55px;
        height: 55px;
        border: none;
        border-radius: 7px;
        box-shadow: inset 0 0 10px rgba($goz-black, 1);
        @include calcRem(30);
        cursor: pointer;
        animation: fadeInGame 2500ms ease-in, rotatePieces 2500ms ease-in-out;

        @keyframes rotatePieces {
            50% {
                transform: rotate(0deg);
            }

            80% {
                transform: rotate(405deg);
            }

            100% {
                transform: rotate(360deg);
            }
          }

            img {
                position: absolute;
                left: 2px;
                top: 2px;
                width: 50px;
            }
    }    
}

#winnerOverlay {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100vh;
    transition: background 1s ease-in;
    background: rgba($goz-black, 0);
    z-index: 999;
    pointer-events: none;
}

.popup {
    background: rgba($goz-black, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    animation: popupAnimation 200ms ease-in;
    display: none;
    justify-content: center;
    align-items: center;

    @keyframes popupAnimation {
        from {background: rgba($goz-black, 0);}
        to{background: rgba($goz-black, 0.5);}
    }

        .popupContent {
            width: 400px;
            height: 200px;
            background: $goz-white;
            box-shadow: inset -5px -5px 50px rgba($goz-black, 0.7);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

                p {
                    padding: 0 30px;
                    @include calcRem(20);
                }
        }

        #closePopup, #closePopupDie6 {
            position: relative;
            cursor: pointer;
            height: 33px;
            width: 33px;
            top: -80px;
            right: -390px;
            margin-top: 16px;
            margin-right: 0;
            background: none;
            border: none;
            pointer-events: visible;
        }
        
        .cross {
            position: absolute;
            right: -18px;
            top: 1px;
            width: 32px;
            height: 32px;
            margin-top: 2px;
            margin-right: 19px;
        }

        .cross:before, .cross:after {
            position: absolute;
            left: 15px;
            content: "";
            height: 28px;
            width: 3px;
            border-radius: 5px;
            background-color: rgba($goz-black, 0.7);
        }

        #closePopup:hover .cross:before, #closePopup:hover .cross:after, 
        #closePopup:focus .cross:before, #closePopup:focus .cross:after,
        #closePopupDie6:hover .cross:before, #closePopupDie6:hover .cross:after, 
        #closePopupDie6:focus .cross:before, #closePopupDie6:focus .cross:after {
            background-color: $goz-black;
        }

        .cross:before {
            transform: rotate(45deg);
        }

        .cross:after {
            transform: rotate(-45deg);
        }
}

/*----------------
   media queries
----------------*/

@media only screen and(max-width: 1440px) {
    #player1Stats, #player2Stats {
        max-width: 200px;
        max-height: 220px;

        img {
            width: 150px;
        }
    }

    #boardgame {

        #playersTurn {
            @include calcRem(30);
            margin-bottom: 10px;
            margin-top: 20px;
        }

        #dice {
            margin-top: 0;
            margin-bottom: 15px;
            width: 40px;
            height: 40px;

                img {
                    width: 35px;
                }
        }

        .tile, .bonusTile {
            margin: 15px;
        }
    }

    #tile0 {
        max-width: 50px;
        margin-left: 50px;
        margin-top: -58px;
    }
}

@media only screen and(max-width: 930px) {
    #player1Stats {
        border-bottom-right-radius: 10px;
        max-width: 120px;
        max-height: 130px;

        img {
            width: 70px;
        }
    }

    #player2Stats {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 10px;
        max-width: 120px;
        max-height: 130px;

        img {
            width: 70px;
        }
    }

    #boardgame {
        background-image: none;

        #playersTurn {
            margin-top: 50px;
            margin-bottom: 20px;
        }

        .board-background {
            min-height: 210vh;
        }

        .overlay {

            h3 {
                @include calcRem(20);
            }
        }
        
        .tile, .bonusTile {
            margin: 30px;
        }

        #dice {
            width: 55px;
            height: 55px;
            margin-bottom: 20px;

                img {
                    width: 50px;
                }
        }
    }

}