#main {
    display: none;

        .overlay {
            display: flex;
            text-align: center;
            width: 100%;
            height: 100%;
            animation: introFilter 2500ms ease-out;
            z-index: 99;
        }

        @keyframes introFilter {
            from {
                background-color: rgba($goz-black, 1);
            }

            to {
                background-color: rgba($goz-black, 0);
            }
        }

        .container {
            width: 1230px;
            margin: 0 auto;
            background: linear-gradient(to right, rgba($goz-black, 0.7) 0%, rgba($goz-black, 0.9) 30%, rgba($goz-black, 0.95) 50%, rgba($goz-black, 0.9) 80%, rgba($goz-black, 0.7) 100%);

                h2 {
                    margin: 90px 0 60px;
                    background-image: $goz-white-title;
                    background-size: 200% 200%;
                    background-position: 0% 50%;
                    background-clip: text;
                    font-family: 'Cinzel Decorative', serif;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    @include calcRem(50);
                    font-weight: normal;
                    animation: badges 2s ease-in;
                }

                @keyframes badges {
                    0% {
                        opacity: 0;
                    }

                    100% {
                        opacity: 1;
                    }
                }
                

                input, #confirm {
                    text-align: center;
                    margin: 20px 5px 20px;
                    min-width: 265px;
                    padding: 10px;
                    background: $goz-black;
                    border: 1px solid rgba($goz-white, 0.2);
                    color: $goz-white;
                    transition: 400ms;
                    font-family: 'Simonetta', serif;
                    @include calcRem(18);
                    text-transform: uppercase;
                }

                input {
                    cursor: default;
                }

                #selectPlayer1 {
                    animation: badges 2s ease-in;
                }

                #versus {
                    @include calcRem(30);
                    margin: 15px 20px 0;
                    background-image: $goz-white-title;
                    background-size: 200% 200%;
                    background-position: 0% 50%;
                    background-clip: text;
                    font-family: 'Cinzel Decorative', serif;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: 200ms;
                    opacity: 0;
                }

                #selectPlayer2 {
                    animation: badges 5s ease-in;
                    opacity: 0;
                    position: relative;
                }

                #confirm {
                    position: absolute;
                    margin-left: -291px;
                    margin-top: 20px;
                    cursor: pointer;
                    background: $goz-white;
                    border: 1px solid rgba($goz-black, 0.2);
                    color: $goz-black;
                    animation: badges 2s ease-in, selectChar 2s infinite;
                    transition: 200ms;
                }

                @keyframes selectChar {
                    0%, 100% {
                        box-shadow: 0 0 10px rgba($goz-white, 0);
                    }

                    50% {
                        box-shadow: 0 0 10px rgba($goz-white, 0.4);
                    }
                }

                #startGame {
                    display: block;
                    height: 20px;
                    background: rgba($goz-white, 0.7);
                    width: 100px;
                    padding: 5px 10px 35px;
                    border: none;
                    margin: 0 auto 15px;
                    font-family: 'Simonetta', serif;
                    @include calcRem(24);
                    text-transform: uppercase;
                    font-weight: bold;
                    transition: 400ms;
                    opacity: 0;
                }

                #startGame:hover, #startGame:focus {
                    animation: badgeShadow 2s infinite;
                    transition: 400ms;
                }

                .badge {
                    width: unset;
                    margin: 10px 0 30px;
                    transition: 200ms;
                    animation: badges 2s ease-in;
                    
                        h3 {
                            margin: 20px 0;
                            color: rgba($goz-white, 0.8);
                            font-weight: normal;
                            font-family: 'Simonetta', serif;
                            @include calcRem(22);
                            font-weight: bold;
                            padding: 0 10px;
                            text-transform: uppercase;
                        }

                        img {
                            position: absolute;
                            -moz-user-select: none;
                            -webkit-user-drag: none;
                            left: 17px;
                            top: 29%;
                            width: 170px;
                            transition: 200ms;
                            opacity: 0;
                        }

                        .choose {
                            position: relative;
                            height: 30px;
                            width: 80px;
                            padding: 0px 10px;
                            color: rgba($goz-white, 0.6);
                            background: rgba($goz-white, 0.05);
                            text-transform: uppercase;
                            font-family: 'Simonetta', serif;
                            @include calcRem(15);
                            margin-bottom: 15px;
                            border: none;
                            opacity: 1;
                            z-index: 999;
                            transform: translate(0);
                        }

                        .choose:hover, .choose:active {
                            opacity: 1;
                            background: rgba($goz-white, 0.15);
                            box-shadow: 0 0 10px rgba($goz-white, 0.3);
                            transform: translate(0);
                            animation: none;
                        }
                    }

                    @keyframes badgeShadow {
                        0%, 100% {
                            box-shadow: 0 0 10px rgba($goz-white, 0.2);
                        }

                        50% {
                            box-shadow: 0 0 20px rgba($goz-white, 0.3);
                        }
                    }
                    
                    button:hover img, button:focus img {
                        opacity: 1;
                    }

                    button:hover .aboutChar, button:focus .aboutChar {
                        transition: 300ms;
                        opacity: 0;
                    }

                    .aboutChar {
                        position: relative;
                        top: 0;
                        padding: 0 10px;
                        @include calcRem(16);
                        line-height: 22px;
                        text-align: left;
                        color: rgba($goz-white, 0.7);
                        opacity: 1;
                        transition: 300ms;

                            p {
                                font-family: 'Telex', sans-serif;
                                margin: 10px 0;
                            }
                    }
            }
}

/*----------------
   media queries
----------------*/

@media only screen and(min-width: 500px){
    
    body {
        margin: 0;
        background-image: url('../images/boardgame-background.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: 0;
        cursor: default;
        user-select: none;
        -webkit-user-drag: none;
    }

    @supports (display: grid) {
        .characters {
          max-width: 100%;
          display: grid;
          margin: 0;
          grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
          animation: badges 2800ms ease-out;
        }
      }
}

@media only screen and(max-width: 680px) {

    #main {

        .container {
            
                #selectPlayer2 {
                    top: -55px;
                }

                #confirm {
                    margin-top: -35px;
                }

                #startGame {
                    margin: -40px auto;
                }

                #versus {
                    display: block;
                }
        }
    }

    .badge {
        margin-top: 30px;
    }
}

@media only screen and(min-width: 700px) {
    #main {

        .container {

                h2 {
                    padding: 0 20px;
                }
        }
    }
}

@media only screen and(min-width: 750px) {
    #main {
        
        .container h2 {
            margin-bottom: 10px;
            margin-top: 30px;
        }
    }
}

@media only screen and(min-width: 1230px) {
    #main {
        margin: 0;
        background-image: url('../images/background-cold.jpg');
        background-size: 105% 105%;
        background-position: 0% 0%;
        cursor: default;
        animation: mainBackground 2500ms;
        user-select: none;
        -webkit-user-drag: none;

        @keyframes mainBackground {
            from {
                background-position: 0% 100%;
            }

            to {
                background-position: 0% 0%;
            }
        }
    }

    @supports (display: grid){
        .characters {
            max-width: 1200px;
            display: grid;
            margin: 0 auto;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            animation: badges 2800ms ease-out;
        }
    }
    
    #main {

        .overlay {
            min-height: 100vh;
        }

        .container {
            max-height: 100%;
            bottom: 0;

            .badge {
                margin: 10px 0;
            }
        }
    }
}
