/* Zones */
$goz-dorne-1: #1b150b;
$goz-dorne-2: #B89A55;
$goz-dorne-3: #C7B37B;
$goz-dorne-bonus: #A88638;

$goz-stormlands-1: #25230f;
$goz-stormlands-2: #B8B27F;
$goz-stormlands-3: #E9E381;

$goz-reach-1: rgb(12, 19, 5);
$goz-reach-2: #74854D;
$goz-reach-3: #94A77C;

$goz-riverlands-1: rgb(6, 14, 20);
$goz-riverlands-2: #3D788E;
$goz-riverlands-3: #89b0c0;
$goz-riverlands-bonus: #4E93AC;

$goz-north-1: rgb(4, 5, 7);
$goz-north-2: #232937;
$goz-north-3: #596683;
$goz-north-4: #8EA0BD;

$goz-crownlands-1: #2A1529;
$goz-crownlands-2: #916F8F;
$goz-crownlands-3: #D2BAE3;

$goz-vale-1: #090B1C;
$goz-vale-2: #60659e;
$goz-vale-3: #B3AACF;

$goz-westerlands-1: #230C11;
$goz-westerlands-2: #8b5660;
$goz-westerlands-3: #B99898;

$goz-iron-isles-1: #261C0D;
$goz-iron-isles-2: #A89069;
$goz-iron-isles-3: #A8A48A;

/* Typography */
$goz-white-title: -webkit-linear-gradient(#000000, #414141, #e0e0e0, #414141, #000000);
$goz-black-title: -webkit-linear-gradient(#212121, #141414);
$goz-iron-title: -webkit-linear-gradient(#3D3D3D, #B4B4B4, #3D3D3D);

$goz-dorne-title: -webkit-linear-gradient(#C7B37B, #B89A55);
$goz-stormlands-title: -webkit-linear-gradient(#E9E381, #B4AB57);
$goz-reach-title: -webkit-linear-gradient(#ABB999, #74854D);
$goz-riverlands-title: -webkit-linear-gradient(#A3C2CE, #3D788E);
$goz-north-title: -webkit-linear-gradient(#96A4B9, #45516D);
$goz-crownlands-title: -webkit-linear-gradient(#D2BAE3, #826081);
$goz-vale-title: -webkit-linear-gradient(#B3AACF, #373C6E);
$goz-westerlands-title: -webkit-linear-gradient(#C8B0B0, #6B3A44);
$goz-iron-isles-title: -webkit-linear-gradient(#A8A48A, #947B53);

/* Pure colors */
$goz-white: #C5C5C5;
$goz-black: #000000;