.winnerPage {
    background-image: url('../images/background-warm.jpg');
    background-attachment: cover;
    cursor: default;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    display: flex;

        .overlay {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 100vh;
            width: 100%;
            height: 100vh;
            background-color: rgba($goz-black, 0.85);
            animation: introFade 1800ms ease, darkFilter 8s infinite;
        }

        @keyframes darkFilter {
            0%, 100% {
                background-color: rgba($goz-black, 0.75);
            }

            50% {
                background-color: rgba($goz-black, 0.85);
            }
        }

        #transitionOverlay {
            position: absolute;
            height: 100vh;
            width: 100%;
            top: 0;
            opacity: 0;
            background-color: $goz-black;
            animation: outroFade 2.5s ease-out;
        }

        @keyframes outroFade {
            0%, 30% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        h1, h2 {
            @include calcRem(60);
            color: rgba($goz-white, 0.9);
            animation: title 5000ms infinite, introFade 2300ms ease-in, winner 4s ease-in-out infinite;
            display: block;
            font-weight: normal;
        }

        h2 {
            font-family: 'Cinzel Decorative', serif;
            @include calcRem(40);
            margin-bottom: 10px;
        }

        #winnerToken {
            user-select: none;
            -webkit-user-drag: none;
            width: 200px;
            animation: winner 4s ease-in-out infinite;
        }
        
        @keyframes winner {
            0%, 100% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-3px);
            }
        }

        @keyframes introFade {
            0% {
                opacity: 0;
            }

            20% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes title {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 0% 100%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        #playAgain {
            padding: 10px 20px;
            margin-top: 30px;
            bottom: -40px;
            z-index: 99;
            background: rgba($goz-black, 0.3);
            color: rgba($goz-white, 0.7);
            font-family: 'Simonetta', serif;
            @include calcRem(20);
            border-radius: 3px;
            border: 1px solid rgba($goz-white, 0.3);
            transition: 200ms;
            cursor: pointer;
            z-index: 9999;
            animation: introFade 2300ms ease-in;
        }

        #playAgain:hover {
            background: rgba($goz-white, 0.05);
            color: $goz-white;
            transition: 200ms;
        }
}

@media only screen and(max-width: 1024px) {
    .winnerPage {
        background-position: -500px;
        background-attachment: cover;

        h1 {
            @include calcRem(35);
            padding: 0 10px;
        }

        h2 {
            @include calcRem(20);
        }
    }
}